@font-face {
  font-family: 'iconfont';  /* project id 243181 */
  src: url('//at.alicdn.com/t/font_j7hvubicw2ucv7vi.eot');
  src: url('//at.alicdn.com/t/font_j7hvubicw2ucv7vi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_j7hvubicw2ucv7vi.woff') format('woff'),
  url('//at.alicdn.com/t/font_j7hvubicw2ucv7vi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_j7hvubicw2ucv7vi.svg#iconfont') format('svg');
}
.icon{font-family: 'iconfont'}